In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Create some data to play with:
# Note: It is not necessary to understand how this dataset was made to understand this session.
#import pandas testing utility

import pandas.util.testing as tm; 
tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame
df = unpivot(tm.makeTimeDataFrame())

In [3]:
df

         date variable     value
0  2000-01-03        A  0.924772
1  2000-01-04        A -0.036452
2  2000-01-05        A  0.110007
3  2000-01-03        B -2.268820
4  2000-01-04        B  0.589640
5  2000-01-05        B -1.219936
6  2000-01-03        C  0.319098
7  2000-01-04        C -1.386240
8  2000-01-05        C  1.181426
9  2000-01-03        D  0.748047
10 2000-01-04        D -1.152600
11 2000-01-05        D -1.739970

#### Pivot table

In [4]:
# First two value spassed are teh row and column indexes, then finally an optional fill value
df_piv = df.pivot('date','variable','value')

In [5]:
df_piv

variable           A         B         C         D
date
2000-01-03  0.924772 -2.268820  0.319098  0.748047
2000-01-04 -0.036452  0.589640 -1.386240 -1.152600
2000-01-05  0.110007 -1.219936  1.181426 -1.739970